<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body class="login-bg">
<section>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="./Images/logo.jpeg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form class="form" action="/verifyLogin" method="POST">
                        
                        <% if(message.length> 0){ %>
                            <div class="alert alert-success">
                                <!-- to be print -->
                                <%=message %>
                            </div>
                        <%}%>
                        <% if(message2.length> 0){ %>
                            <div class="alert alert-danger">
                                <!-- to be print -->
                                <%=message2 %>
                            </div>
                        <%}%>
                        <% if(message3.length> 0){ %>
                            <div class="alert alert-danger">
                                <!-- to be print -->
                                <%=message3 %>
                            </div>
                        <%}%>
                        <% if(message4.length> 0){ %>
                            <div class="alert alert-danger">
                                <!-- to be print -->
                                <%=message4 %>
                            </div>
                        <%}%>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" required class="form-control input_user" value=""
                                placeholder="enter you email">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" required class="form-control input_pass" value=""
                                placeholder="enter you password">
                        </div>
                        <div class="form-group mb-3">
                            <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">Forgot password?</a>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn btn-info">Login</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="/register" class="ml-2">Register here</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <p>or signup with</p>
                    </div>
                    <center><a href="/googleAuth"><img src="./Images/google.png" style="height: 80px;" alt=""></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="/forgotPasswordVerify" method="POST"> <!-- adjust action path as needed -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="forgotPasswordModalLabel">Reset Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="resetEmail">Enter your registered email</label>
                <input type="email" class="form-control" id="resetEmail" name="email" placeholder="Enter email" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
</body>

</html>